{% extends "blog/base.html" %}
  {% block content %}
  {% for post in posts %}
  <article class="media content-section">
    <img class="rounded-circle article-img"src="{{ post.author.profile.image.url }}" alt="Profile Image of {{post.author}}">
    <div class="media-body">
      <div class="article-metadata">
          
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"d M Y"}}</small>
          </div>
          <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    {% endfor %}

    <!--Page links -->

    {% if is_paginated %}
      {% if page_obj.has_previous %}
      {% if page_obj.previous_page_number != 1 %}
      <a class="btn btn-outline-info mb-4" href="?page=1">&#8676</a>
      {% endif %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">&#8592</a>
      {% endif %}

  
      <a class="btn btn-info mb-4" href="?page={{page_obj.number}}">{{page_obj.number}}</a>
  
      {% if page_obj.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number}}">&#8594</a>
        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages}}">&#8677</a>
        {% endif %}
      {% endif %}


    {% endif %}
{% endblock content%}
